$red: #E91E63;
$redhover:  #AA1649;
$purple: #9C27B0;
$purpleHover: #802091;
$green: #23CE6B;
$greenHover: #1DA958;
$error: red;
$white: #fff;
$maincolor: #471250;
$bg-todo: #D7F0FB;
$input: #000;
$bg: #E8F7FE;


$base-font: 1rem;
$font-family: 'Droid Sans', sans-serif;

$phone: "only screen and (min-width: 320px) and (orientation: portrait)";
$tablet: "only screen and (min-width: 600px)";
$desktop: "only screen and (min-width: 1024px)";
